<div class="nested-fields">

	Product: <%= f.text_field :product_name %><br />
	Cost: <span id="cost"><%= f.text_field :cost %></span><br />

  	Category:
    <%= f.select :category, [['N/A', 'N/A'],['Food','food'],['Household','household'],['Entertainment','entertainment'],['Education','education'],['Travel','travel'],['Clothing','clothing']] %>
   

</div>