<div class='nested-fields'>

	<%= f.fields_for :users do |user| %>
		<p class="fields">
			<%= render 'user_fields', :f => user %>
		</p>
		hello
	<% end %> 

	<div class='links'>
          <%= link_to_add_association 'add', f, :users %>
    </div>

</div>