This is the debt page! Sounds fun, right?<br>

<% if user_signed_in? %>
	<span>Your debts:</span>
	<ul>
	  <% current_user.purchases.each do |p| %>
	    <li class="default-li">Cost: <%= p.cost %> owed to...</li>
	  <% end %>
	</ul>
<% else %>
	Only members can use this page. <%= link_to "Sign in", new_user_session_path %> or <%= link_to "create an account", new_user_registration_path %> now!
<% end %>
