/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body, #container { 
    height: 85%; 
}

body {
    background-color: #F6F9FB;
    font-family: 'Francois One', sans-serif;
    width: 100%;
    margin: 0px;
}

body > #container {
    height: auto; 
    min-height: 85%;
}

h1 {
    text-align: center;
    font-family: 'Voltaire', sans-serif;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #797979;
}

footer {
    width: 100%;
    bottom: 0px;
    padding-top: 5px;
    border-top: 1px solid #000;
    color: #777;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -2em;
}

li {
    display: inline-block;
    padding: 0px 30px;
}

li.default-li {
    display: list-item;
    padding: 0;
}

.stay-black {
    color: #000;
}

.stay-black:hover {
    color: #797979;
}

.pull-right {
    float: right;
    padding: 0px 60px;
    margin-right: -81px;
}

.footer-overline {
    position: fixed;
    background: #000;
    height: 1px;
    bottom: 5%;
}

.footer-li {
    margin-left: 100px;
    margin-right: 120px;
}

.footer-li-big {
    margin-right: 370px;
}

#header-bar {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 55px;
    background: #9CADB8;
    opacity: 0.9;
}

#header-ul-wrapper {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 55px;
    background: #9CADB8;
    opacity: 0.9;
}

#header-ul {
    width: 100%;
    list-style: none;
    padding: 0;
    /*margin: 15px 0 5px 0;*/
}

#header-ul li {
    float: left;
    text-align: center;
    width: 25%;
    margin: 12px 0 0 0;
    padding: 6px 0;   
}

#main-content {
    margin-left: 17.85%;
    font-size: 150%;
    width: 64.3%;
    padding-bottom: 3em;
}

#footer-bar {
    width: 100%;
    height: 55px;
    background: #9CADB8;
    opacity: 0.9;
}

#footer-ul {
    display: inline-block;
    width: 100%;
}

#bananafy-button {
    margin-left: 215px;
    border: 3px solid #547600;
    background-color: #8AC007;
}

.lead {
    text-align: center;
}


/* User sign in and sign forms. */
.border-form-div {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .field {
    margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.buttonHolder {
    margin: 0 auto;
    text-align: center;
}