/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #F6F9FB;
    font-family: 'Francois One', sans-serif;
    width: 100%;
    margin: 0px;
}

h1 {
    text-align: center;
    font-family: 'Voltaire', sans-serif;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #797979;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

li {
    display: inline-block;
    padding: 0px 30px;
}

li.default-li {
    display: list-item;
    padding: 0;
}

.stay-black {
    color: #000;
}

.stay-black:hover {
    color: #797979;
}

.pull-right {
    float: right;
    padding: 0px 60px;
    margin-right: -81px;
}

.footer-overline {
    position: fixed;
    background: #000;
    height: 1px;
    bottom: 5%;
}

.footer-li {
    margin-left: 100px;
    margin-right: 120px;
}

.footer-li-big {
    margin-right: 370px;
}

#header-bar {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 55px;
    background: #9CADB8;
    opacity: 0.9;
}

#header-ul-wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#header-ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 15px 0 5px 0;
}

#header-ul li {
    float: left;
    text-align: center;
    width: 25%;
    margin: 12px 0 0 0;
    padding: 6px 0;   
}

#main-content {
    margin-left: 17.85%;
    font-size: 150%;
}

#footer-bar {
    width: 100%;
    height: 55px;
    background: #9CADB8;
    opacity: 0.9;
}

#footer-ul {
    display: inline-block;
    width: 100%;
}

#bananafy-button {
    margin-left: 215px;
    border: 3px solid #547600;
    background-color: #8AC007;
}
